body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box {
    background: rgb(184, 207, 250);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

h2 {
    color: #36362c;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b4bfee;
    border-radius: 5px;
}

.terms {
    text-align:left;
    font-size: 12px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #624474;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #8749b9;
}

p {
    font-size: 14px;
}

